<!DOCTYPE html>
{% extends 'base/main.html' %}
{% block title_block %}
    Add Player
{% endblock %}
{% block mainview %}
{% load widget_tweaks %}
<div class="row">
  <div class="col-md-12">

    <form method="POST" role="form" action="./newplayer" id="add-team" enctype="multipart/form-data">
      <div class="card">
          {%  csrf_token %}
      <div class="card-body">
        <div class="box-header">
                                      {% if messages %}
                                           <div class="alert alert-success fade in alert-dismissible">
                                              <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                                              <h2 class="card-title">Success</h2>
                                              {% for message in messages %}
                                                  <p class="text-muted">{{ message }}</p>
                                              {% endfor %}
                                          </div>
                                      {% endif %}
                                  </div>
                                  {{ form.as_p }}
          <!-- {{ form.name|add_class:"form-control" }} -->
          <!-- {{ form.logo|add_class:"form-control" }} -->
      </div>

      <div class="card-footer">
                <button type="submit" class="btn btn-fill btn-primary">Save</button>
      </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
